---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Salahoudine Ayoubi" description="About Salahoudine Ali Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Salahoudine Ayoubi is working on a project"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As a passionate full-stack web developer, I leverage my in-depth technical skills to create innovative and high-performing web applications. For more years, I have mastered a wide range of front-end and back-end technologies, allowing me to handle the entire development cycle, from design to deployment.

					</p> 
					<br>
					<p>
						Beyond my technical skills, I am also endowed with a keen sense of collaboration and communication. I enjoy teamwork and can adapt to different environments and agile methodologies. My goal is to actively contribute to the success of your projects by developing custom solutions that perfectly meet your needs.
						<br>

						<p>
						I am eager to put my expertise at your service and show you how I can add value to your business." </p>

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
			
					<h6>Engineering Program in Computer Science</h6>
					<p>
						University of Yaoundé 1, Cameroon<br>
						2023 - Present
					</p>
					<p>
						After completing high school, I enrolled in the engineering program in Computer Science at the University of Yaoundé 1, one of the leading universities in Central Africa.
						This comprehensive program covers the fundamentals of computer science, including programming, databases, operating systems, networking, and software engineering.
						Through coursework, projects, and internships, I am gaining practical skills in design, coding, and problem-solving. This solid foundation is preparing me well for a future career in web development.
						As I continue my studies at the esteemed University of Yaoundé 1, I am excited to take on new challenges in the digital field.
					</p>
			
					<h6>Meta Front-End Developer Specialization</h6>
					<p>
						Coursera<br>
						Ongoing
					</p>
					<p>
						Specialized Coursera training in partnership with Meta, focused on front-end development.
					</p>
			
					<h6>Full Stack Development Training</h6>
					<p>
						Kiwanda<br>
						Ongoing
					</p>
					<p>
						Full stack web development training program with Kiwanda.
					</p>
			
					<h6>Full Stack Developer Program</h6>
					<p>
						Doctina Techub<br>
						Ongoing
					</p>
					<p>
						In-depth training to become a full stack developer.
					</p>
			
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						My key areas of expertise include HTML5, CSS3, JavaScript, Python, Bootstrap 5, React, Node.js, Laravel, Django, MongoDB, and SQL. 
						I also have solid experience using project management tools such as Git, Jira, and Trello. 
						My problem-solving abilities, analytical mindset, and creativity are key assets that enable me to successfully tackle complex challenges.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
